{% if include.code %}
{% assign code_url = include.code %}
{% capture source_code %}{% include_relative {{ code_url }} %}{% endcapture %}
<div class="code-buttons"><a href="#" class="btn-copy" data-code-url="{{ code_url }}"><i class="fa fa-copy"></i> <span>Copy</span></a></div>
<pre data-code-url="{{ code_url }}">{{ source_code | xml_escape }}</pre>
{% endif %}

Now press the <strong><i class="fa fa-play"></i> Play</strong> button. You should see this on your screen:

<canvas data-processing-sources="{{ include.code }}"></canvas>
