---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";

.site-title {
    img {
        height: 3em;
    }
    margin: 1em 0;
}
.alert {
    background: #fff;
    border: 2px solid #333;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1em;
    strong {
        display: block;
        margin-bottom: 0.5em;
    }
    &.tip {
        strong { color: #008080; }
        border-color: #008080;
        box-shadow: inset 0px 0px 8px #00999940;
    }
    &.exercise {
        strong { color: #064ba4; }
        border-color: #064ba4;
        box-shadow: inset 0px 0px 8px #1756a94a;
    }
    &.next-lesson {
        color: #a4066c;
        border-color: #a4066c;
        box-shadow: inset 0px 0px 8px #9900003d;
        strong {
            font-size: 1.2em;
            margin-top: 0.5em;
        }
    }
    &.reference {
        strong { color: #a406a0; }
        border-color: #a406a0;
        box-shadow: inset 0px 0px 8px #99000038;
    }
}

a.alert {
    display: block;
}

.homepage {
    h1 {
        margin-top: 2em;
    }
    .lessons {
        display: flex;
        flex-wrap: wrap;
        .lesson {
            flex: 1 1 200px;
            margin-right: 10px;
            margin-bottom: 10px;
            border: 4px solid #c0d3eb;
            border-radius: 4px;
            box-shadow: 2px 2px 5px #3179d829;
            text-align: center;
            padding: 10px; 

            span, strong {
                display: block;
            }
        }
    }
    .books {
        display: flex;
        > div {
            flex: 1 1;
            margin-right: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        .book {
            display: block;
            border: 4px solid #c0d3eb;
            border-radius: 4px;
            box-shadow: 2px 2px 5px #3179d829;
            text-align: center;
            padding: 10px; 

            span, strong {
                display: block;
            }
        }
    }

}
.lesson {
    .lesson-header {
        img {
            width: 50%;
        }
        h2 {
            margin: 0;
            color: #555;
        }
    }
    .next-lesson {
        border-top: 2px solid #1756a9;
        display: block;
        background: linear-gradient(45deg, #f4f9ff, transparent);
        margin-top: 2em;
        padding: 2em 0;

        img {
            width: 20%;
        }
    }
    > p img, 
    > canvas {
        display: block;
        margin: 2em auto;
    }
    pre, code, div.codeblock {
        background-color: #fff8f5;
        border: 1px solid #f5c0cd;
    }
}
.reference {
    .reference-meta {
        margin-bottom: 2em;
        h3 {
            margin: 0;
            color: #888;
        }
    }
}
div.codeblock {
    margin-bottom: 15px;
    div {
        display: block;
        unicode-bidi: embed;
        font-family: monospace;
        white-space: pre;
        margin: 0;
    }
    div.add {
        background: #86f684;
    }
    div.sub {
        background: #f68484;
    }
}


body {
    -webkit-print-color-adjust: exact; // print background color
}
@media print {
    header {
        display: none;
    }
    @page {
        size: A4;
        //size: landscape;
    }
    .wrapper {
        margin: 0;
        max-width: 100%;
    }

    .instructor-worksheet {
        pre, table, img, .alert, .snippet-worksheet {
            page-break-after: always;
            margin: 0;
        }
        .alert {
            font-size: 2em;
        }
        pre {
            font-size: 3em;
        }
        img {
            max-height: 90vh;
            margin: 0 auto;
            display: block;
        }
    }
    .print-lessons {
        .lesson {
            page-break-before: always;
            img {
                max-width: 60%;
            }
        }
        .reference a {
            display: none;
        }
    }

    img, .alert, .snippet {
        page-break-inside: avoid;
    }
}
