---
layout: default
---
<canvas data-processing-sources="{{ page.code }}"></canvas>

<h1>{{ page.title }}</h1>
{% if content %}
<div>{{ content }}</div>
{% endif %}

{% if page.code %}
{% capture source_code %}{% include_relative {{ page.code }} %}{% endcapture %}
<pre>{{ source_code | xml_escape }}</pre>
{% endif %}


<h2>Functions Used</h2>
{% assign functions = page.functions|split:',' %}
{% for function in functions %}
    {% assign slug = function|slugify %}
    {% for reference in site.references %}
    {% if reference.slug == slug %}
    <div class="alert reference d-flex justify-content-between align-items-center">
        <div>
            <div>
                <strong>{{ reference.title }}</strong>
            </div>
            <p>{{ reference.summary }}</p>
            <a href="{{ reference.url }}">Learn More <i class="fas fa-chevron-right"></i></a>
        </div>
        {% if reference.code %}
        <canvas data-processing-sources="/references/{{ reference.code }}"></canvas>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
{% endfor %}


{% if page.collection %}
    {% assign links = site[page.collection]  %}
{% endif %}

{% for link in links %}
	{% if link.title == page.title %}
		{% unless forloop.first %}
			{% assign prev = tmpprev %}
		{% endunless %}
		{% unless forloop.last %}
			{% assign next = links[forloop.index] %}
		{% endunless %}
	{% endif %}
	{% assign tmpprev = link %}
{% endfor %}

<ul class="prevnext">
	<li>{% if prev %}<a href="{{ prev.url}}">&lt; {{ prev.title }}</a>{% endif %}</li>
	<li>{% if next %}<a href="{{ next.url}}">{{ next.title }} &gt;</a>{% endif %}</li>
</ul>
