---
layout: default
---

<h2 class="lesson">Lesson <strong>{{ page.lesson_number }}</strong></h2>
<h1>{{ page.title }}</h1>
{{ content }}

{% if page.collection %}
    {% assign links = site[page.collection]  %}
{% endif %}

{% for link in links %}
	{% if link.title == page.title %}
		{% unless forloop.last %}
			{% assign next = links[forloop.index] %}
		{% endunless %}
	{% endif %}
{% endfor %}

{% if next %}
<a href="{{ next.url}}" class="alert next-lesson"><strong>Next lesson:</strong> {{ next.title }} &gt;</a>
{% endif %}
