---
layout: default
---

<div class="reference">
<h1>{{ page.title }}</h1>
<div class="reference-meta">
{% if page.category %}
<h3><strong>Category:</strong> {{ page.category }}</h3>
{% endif %}
{% if page.section %}
<h3><strong>Subcategory:</strong> {{ page.section }}</h3>
{% endif %}
{% if page.difficulty %}
<h3><strong>Complexity:</strong> {{ page.difficulty|capitalize }}</h3>
{% endif %}
</div>

{{ content }}

{% if page.code %}
<h1>Example</h1>

<div class="d-flex align-items-center mb-3 snippet">
    <div class="flex-grow-1 mr-4">
        <h5>Code:</h5>
        {% capture source_code %}{% include_relative {{ page.code }} %}{% endcapture %}
        <pre>{{ source_code | xml_escape }}</pre>
        {% endif %}
    </div>

    <div>
        <h5>Preview:</h5>
        <canvas data-processing-sources="{{ page.code }}"></canvas>
    </div>
</div>
